<% layout('layouts/boilerplate.ejs') %>

<h1>All Campgrounds</h1>
<!-- LOOP TO SHOW ALL CAMPGROUNDS -->
<% for( let index = 0; index < camps.length; index++ ) { %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=camps[index].images[0].url%>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= camps[index].title %> </h5>
                    <p class="card-text"><%= camps[index].description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= camps[index].location%></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%=camps[index]._id%>">View <%=camps[index].title%></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

